.topbar {
  width: 100%;
  height: 70px;
  background-color: white;
  color: #15023a;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 1s ease;
}

.topbar:active{
   background-color: #15023a;
   color: white;
}


/* left side */
.wrapper {
  padding: 10px 30px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.topbar-left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 40px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  margin-right: 40px;
}

.itemContainer {
  display: flex;
  /* align-items: center; */
  margin-left: 30px;
}

.icon {
  font-size: 18px;
  margin-right: 5px;
}

.leftSpan {
  font-size: 15px;
  font-weight: 500;
}


 /* right side */
 .topbar-right {
  flex: 0.1;
  display: flex;
  justify-content: flex-end;
}

.hamburger {
  width: 32px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line{
  width: 100%;
  height: 2px;
  background-color: #15023a;
  border-radius: 20px;
  transition: transform 1s ease, opacity 0.5s ease;
  transform-origin: left;
}
 


.menu {
  width: 200px;
  height: calc(100vh - 50px);
  background-color: #15023a;
  position: absolute;
  top: 50px;
  right: -250px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  transition: all 1s ease;
}

.menu-center {
  flex: 0.8;
}

.menu-item {
  margin-top: 20px;
  cursor: pointer;
  height: auto;
}

.menu-item span {
  margin-left: 10px;
  color: white;
}

.topbarA{
  color: white;
}

.menu.active {
  transform: translateX(-250px);
}


.hamburger:active .line1{
  background-color: white;
  transform: rotate(45deg);
}

.hamburger:active .line2{
  opacity: 0;
}
.hamburger:active .line3{
  background-color: white;
  transform: rotate(-45deg);
}

